:root {
  --theme-color: #156bb0;
  --base-font-family: 'Bai Jamjuree', sans-serif;
  --base-font-size: 18px;
  --heading-font-family: 'Kanit', sans-serif;
  --sidebar-name-font-family: 'Kanit', sans-serif;
}